<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CulturyUs</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
    <link rel="icon" href="/static/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="logo">
                    <p>Cultury<span>Us</span></p>
                </div>
                <div class="nav-links">
                    <div class="links">
                    <ul id="home-navs">
                        <li><a href="">Home</a></li>
                        <li id="tourism">Tourism
                            <div class="tourism-menu">
                                <ul>
                                    <li><a href="">Home</a></li>
                                    <li><a href="/tourguide">Guide</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="tourism">Featured
                            <div class="tourism-menu">
                                <ul>
                                    <li><a href="/GIA">GIA</a></li>
                                    <li><a href="">History</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="/forum">Forum</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="tourism">Skillshop
                            <div class="tourism-menu">
                                <ul>
                                    <li><a href="/skills">SkillShop</a></li>
                                    <li><a href="">Sell</a></li>
                                    <li><a href="/marketplace">Marketplace</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="">About us</a></li>
                    </ul>
                    </div>
                </div>
                </div>
        <nav>
    </header>
    <main>
        <div class="main-container">
            <div class="intial-div">
                <h2>Experience India, Anywhere...</h2>
            </div>
            <div class="intial-navs">
                <h2>How would you like to experience India ?</h2>
                <div class="nav-flexbox">
                    <div class="nav-box">
                        <a href="/skills"><img src="/static/img/skill.png" alt="img1"></a>
                        <h3>Learn new skill</h3>
                        <p>Try learning a new skill cooking, dancing, musical instruments etc.</p>
                    </div>
                    <div class="nav-box">
                        <a href="/tourguide"><img src="/static/img/guide.png" alt="img1"></a>
                        <h3>Tourist Guide Booking</h3>
                        <p>Try learning a new skill cooking, dancing, musical instruments etc.</p>
                    </div>
                    <div class="nav-box">
                        <a href=""><img src="/static/img/artpeices.png" alt="img1"></a>
                        <h3>Buy/Sell ArtCrafts</h3>
                        <p>Try learning a new skill cooking, dancing, musical instruments etc.</p>
                    </div>
                    <div class="nav-box">
                        <a href=""><img src="/static/img/history.png" alt="img1"></a>
                        <h3>History & Indian Culture</h3>
                        <p>Try learning a new skill cooking, dancing, musical instruments etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p id="followus">Follow us on</p>
        <div class="social-links">
        <a href="https://www.instagram.com/effortlessgt?igsh=MW10azA5aTBkaTYxbA=="><img src="/static/img/instagram.png" alt="instagram"></a>
        <a href="https://wa.me/qr/TTCPPLO4MHO3B1"><img src="/static/img/whatsapp.png" alt="whatsapp" id="whatsapp"></a>
        <a href="https://github.com/EthicalGT?fbclid=PAZXh0bgNhZW0CMTEAAaYkRZs0dKtG1Kbx9kYW6MYHVpMAdLTGSBGJr8u3emIBRrJ72ytOWDZjuwg_aem_fj9EEMhqM8mIrldi3uq-2Q"><img src="/static/img/github.png" alt="github"></a>
        </div>
        
        <p>Crafted with <span>&hearts;</span> by <a href="https://ethicalgt.github.io/EthicalGT/">GT</a></p>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>