<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CulturyUs</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
    <link rel="icon" href="/static/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                <img src="/static/img/logo.png" alt="logo">
                    <p>Cultury<span>Us</span></p>
                </div>
                <div class="nav-links">
                    <div class="links">
                    <ul>
                        <li><a href="/">Sign In</a></li>
                        <li><a href="/">Sign UP</a></li>
                    </ul>
                    </div>
                </div>
                </div>
        <nav>
    </header>
    <main>
        <div class="response-box">
            <h2>Verification Successfull, Kindly SignIn..!</h2><br>
            <a href="/"><button>Go SignIn</button></a>
        </div>
    </main>
    <footer>
        <p>Crafted with <span>&hearts;</span> by GT</p>
        <p>&copy; 2023 CulturyUs. All rights reserved.</p>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>