<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CulturyUs</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
    <link rel="icon" href="/static/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="logo">
                    <p>Cultury<span>Us</span></p>
                </div>
                <div class="nav-links">
                    <div class="links">
                    
                </div>
                </div>
                </div>
        <nav>
    </header>
    <main>
        <div class="scPaymentContainer">
            {{ if .paymentstatus}}
            <div class="scPaymentInfo">
            <h3>Purchase Details</h3>
            <b>Payment Status: {{.paymentstatus}}</b><p></p>
            <b>Payment DateTime: {{.datetime}}</b><p></p>
            <b>Payment Amount: {{.amount}}</b><p></p>
            <b>Payment Mode: {{.paymentmode}}</b><p></p>
            {{if .successed }}
            <span>Thank you for your SkillCoin purchase! This transaction confirms your successful acquisition of SkillCoins, which can be used within the Cuturyus ecosystem for various skills unlocking purpose. Please retain this bill for your records.
                Skillcoins will be updated in your wallet shortly, Thank You!               
                Happy Learning & Growing with CuturyUs!</span>
                {{else}}
                <span>Oops! Your SkillCoin purchase was unsuccessful. Unfortunately, the transaction could not be completed.  
                    Please check your payment details and try again.
                    We apologize for the inconvenience and appreciate your patience.  
                    Thank you for being a part of CuturyUs!</span>
                    {{end}}
                <br><br>
                <center><span class="timerTag"></span></center>
                </div>
                {{else}}
                <p>Oops ! No Data Found...</p>
                {{end}}
        </div>
    </main>
    <footer>
        <p id="followus">Follow us on</p>
        <div class="social-links">
        <a href="https://www.instagram.com/the_gt_official?igsh=MW10azA5aTBkaTYxbA=="><img src="/static/img/instagram.png" alt="instagram"></a>
        <a href="https://wa.me/qr/TTCPPLO4MHO3B1"><img src="/static/img/whatsapp.png" alt="whatsapp" id="whatsapp"></a>
        <a href="https://github.com/EthicalGT?fbclid=PAZXh0bgNhZW0CMTEAAaYkRZs0dKtG1Kbx9kYW6MYHVpMAdLTGSBGJr8u3emIBRrJ72ytOWDZjuwg_aem_fj9EEMhqM8mIrldi3uq-2Q"><img src="/static/img/github.png" alt="github"></a>
        </div>
        
        <p>Crafted with <span>&hearts;</span> by <a href="">GT</a></p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
    const fadeElements = document.querySelectorAll("body *");

    const fadeInOnScroll = () => {
        fadeElements.forEach(element => {
            const rect = element.getBoundingClientRect();
            if (rect.top < window.innerHeight * 1.5) {
                element.style.opacity = 1;
                element.style.transform = "translateY(0)";
            }
        });
    };

    window.addEventListener("scroll", fadeInOnScroll);
    fadeInOnScroll(); 
});
let time=30;

const countDown=setInterval(()=>{
    time--;
    document.querySelector(".timerTag").innerHTML="You'll be redirected in "+time+"...";
    if(time==0){
        window.location="/profile";
    }
},1000);
    </script>
</body>
</html>